* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body, html {
  font-size: 10px; }

@font-face {
  font-family: guti;
  src: url(../60sFont.ttf); }

.lightTheme {
  background-color: #dacdda; }
  .lightTheme::-webkit-scrollbar-thumb {
    background-color: #1c1c1c; }
  .lightTheme header {
    background-color: #1c1c1c; }
  .lightTheme > i, .lightTheme > span {
    color: #e6e6e6; }
  .lightTheme h1 {
    color: #212121; }
  .lightTheme .noneAlbums {
    color: #212121; }
  .lightTheme .albumDiv > div {
    background-color: #bd9898; }
    .lightTheme .albumDiv > div * {
      color: #212121; }
    .lightTheme .albumDiv > div h2 {
      font-weight: 700; }
    .lightTheme .albumDiv > div button {
      background-color: #1c1c1c;
      color: #e6e6e6; }
      .lightTheme .albumDiv > div button:hover {
        background-color: #bc4848;
        color: #1c1c1c; }
    .lightTheme .albumDiv > div span {
      opacity: .6; }

body {
  background-color: #212121;
  transition: background-color 500ms; }
  body::-webkit-scrollbar {
    width: 10px;
    height: 30px;
    background-color: transparent; }
    body::-webkit-scrollbar:active {
      width: 13px; }
  body::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 30px; }

header {
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  transition: background-color 500ms; }
  header button {
    all: unset;
    display: flex;
    align-items: center;
    margin-right: 5rem; }
  header i {
    color: #e6e6e6;
    padding: 2rem 1rem;
    font-size: 2.2rem;
    cursor: pointer;
    transition: color 500ms; }
  header span {
    color: #e6e6e6;
    font-size: 2rem;
    font-weight: 600;
    transition: color 500ms; }
  header > div {
    display: flex; }

.btn-group i {
  font-size: 2.4rem;
  transition: all 800ms ease-out; }

.rotate {
  transform: rotate(180deg); }

#canvasHamburger {
  font-size: 2.6rem; }

.dropdown-menu.show {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column; }

.dropdown-item {
  color: #e6e6e6;
  font-size: 1.5rem;
  padding: 1rem;
  width: 85%; }
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #1c1c1c;
    color: #e6e6e6; }
  .dropdown-item:hover {
    background-color: #212121; }

.fa-chevron-up {
  box-sizing: content-box;
  position: fixed;
  background-color: #121212;
  color: #e6e6e6;
  padding: 1.4rem;
  font-size: 1.5rem;
  bottom: 0rem;
  right: 1rem;
  border-radius: 30px;
  opacity: 0;
  transition: all 400ms; }
  .fa-chevron-up.active {
    cursor: pointer;
    opacity: 1;
    bottom: 1rem;
    animation: up 2000ms ease-in-out infinite; }
  .fa-chevron-up:hover {
    color: #7066e0; }

@keyframes up {
  50% {
    transform: translateY(-10px); } }

h1 {
  font-size: 8rem;
  color: #e6e6e6;
  text-align: center;
  margin: 14rem 0 7rem 0;
  font-family: guti; }

.noneAlbums {
  color: #e6e6e6;
  text-align: center;
  margin: 8rem 0 10rem 0; }

#albums {
  margin: 0 auto; }

footer {
  margin-top: 5rem;
  padding: 2rem;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer * {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #e6e6e6;
    font-weight: 700; }
  footer i {
    color: #e53333;
    margin-inline: .5rem;
    animation: expand 500ms infinite; }
  footer a {
    transition: all 300ms; }
    footer a:hover {
      color: #7066e0; }

@keyframes expand {
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@media (max-width: 500px) {
  header i, header button {
    margin-inline: 0; }
  .btn-group > button {
    margin-left: 2rem; } }

.albumDiv {
  padding: 1rem; }
  .albumDiv > div {
    background-color: #1c1c1c;
    border-radius: .5rem;
    padding: 3rem;
    box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.4);
    transition: background-color 500ms; }
    .albumDiv > div * {
      color: #e6e6e6; }
    .albumDiv > div img {
      align-self: center;
      border-radius: 3px;
      width: 100%; }
    .albumDiv > div h2 {
      margin: 1.2rem 0; }
      @media (min-width: 1400px) {
        .albumDiv > div h2 {
          font-size: 1.2vw; } }
      @media (max-width: 1400px) {
        .albumDiv > div h2 {
          font-size: 1.2vw; } }
      @media (max-width: 1200px) {
        .albumDiv > div h2 {
          font-size: 1.5vw; } }
      @media (max-width: 991px) {
        .albumDiv > div h2 {
          font-size: 1.7vw; } }
      @media (max-width: 900px) {
        .albumDiv > div h2 {
          font-size: 1.6vw; } }
      @media (max-width: 768px) {
        .albumDiv > div h2 {
          font-size: 2.4vw; } }
      @media (max-width: 576px) {
        .albumDiv > div h2 {
          font-size: 35px; } }
      @media (max-width: 400px) {
        .albumDiv > div h2 {
          font-size: 30px; } }
    .albumDiv > div button {
      all: unset;
      cursor: pointer;
      border-radius: 3px;
      background-color: #e6e6e6;
      padding: 1rem 1.5rem;
      color: #1c1c1c;
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 1.7rem;
      transition: all 350ms; }
      .albumDiv > div button:hover {
        background-color: #7066e0;
        color: #e6e6e6; }

.albumArtist {
  margin: 0; }

.albumYear, .albumPrice, .albumCantidad, .albumArtist, .albumInfo {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.2rem 0; }

.albumInfo {
  display: flex;
  align-items: center; }
  .albumInfo span {
    opacity: .3;
    margin-left: 1rem; }

.cartAlbumInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .cartAlbumInfo * {
    margin: 0; }

@media (max-width: 576px) {
  .albumDiv {
    margin: 0 auto; } }

.modal-header {
  background: #1c1c1c;
  color: #e6e6e6;
  border-bottom: 2px solid #212121; }
  .modal-header div {
    display: flex;
    justify-content: flex-end; }
    .modal-header div i {
      padding: 0; }
    .modal-header div button {
      margin: 1rem; }
  .modal-header h5 {
    font-size: 2rem; }

.modal-body {
  background: #1c1c1c;
  min-height: 400px; }
  .modal-body::-webkit-scrollbar {
    width: 7px;
    height: 30px;
    background-color: transparent; }
  .modal-body::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 30px; }
  .modal-body img {
    border-radius: 3px; }

.modal-content {
  background: #1c1c1c; }

.modal-footer {
  border-top: 2px solid #212121;
  display: flex;
  justify-content: space-around; }
  .modal-footer a {
    all: unset;
    cursor: pointer;
    border-radius: 3px;
    background-color: #e6e6e6;
    padding: 1rem 2.5rem;
    color: #1c1c1c;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 350ms; }
    .modal-footer a:hover {
      background-color: #7066e0;
      color: #e6e6e6; }

.cartDiv {
  display: flex;
  padding: 1.5rem;
  width: 100%;
  position: relative; }
  .cartDiv * {
    color: #e6e6e6; }
  .cartDiv img {
    width: 30%;
    margin-right: 1rem; }
  .cartDiv::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    background-color: #e6e6e6;
    border-radius: 50px;
    opacity: .1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.cartActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0;
  right: 0;
  top: 1rem;
  cursor: pointer; }
  .cartActions button {
    padding: 0;
    margin: 0; }
  .cartActions i {
    padding: .7rem 0;
    font-size: 1.2rem; }
  .cartActions button:first-child {
    padding: 0;
    margin-bottom: 3rem; }
    .cartActions button:first-child i {
      padding: 0;
      font-size: 1.5rem; }

.emptyCart {
  animation: emptyCart 1300ms; }

@keyframes emptyCart {
  0%, 100% {
    transform: scale(1); }
  50% {
    color: #dc3b3b;
    transform: scale(1.5); }
  33% {
    rotate: -30deg; }
  66% {
    rotate: 30deg; } }

#coins {
  border: none;
  color: #e6e6e6;
  padding: 10px 20px 10px 10px;
  font-size: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #1c1c1c;
  width: 75%;
  cursor: pointer; }
  #coins:focus-visible {
    border: none;
    outline: none; }

#switchThemeContainer {
  padding: 1rem; }
  #switchThemeContainer * {
    cursor: pointer; }
  #switchThemeContainer input {
    display: none; }
    #switchThemeContainer input:checked + label {
      background-color: #322662; }
      #switchThemeContainer input:checked + label .circleTheme {
        background-color: #7066e0;
        transform: translateX(24px); }
  #switchThemeContainer label {
    background-color: #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    height: 2.6rem;
    width: 5rem;
    position: relative;
    padding: .5rem; }
    #switchThemeContainer label i {
      font-size: 1.6rem;
      padding: 0; }

.circleTheme {
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 50%;
  background-color: #e6e6e6;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: 300ms; }

.fa-moon {
  color: #f1c40f; }

.fa-sun {
  color: #f39c12; }

.filterSection {
  margin-bottom: 8rem; }

.canvasSubtitle {
  font-size: 2rem;
  color: #e6e6e6;
  margin: 2rem 0; }

.offcanvas {
  background-color: rgba(34, 29, 40, 0.98); }
  .offcanvas h5 {
    font-size: 3.5rem;
    color: #e6e6e6; }
  .offcanvas button {
    color: #e6e6e6;
    font-size: 2rem; }

.offcanvas-body {
  padding: 1rem 2rem; }
  .offcanvas-body span {
    font-size: 2rem; }
  .offcanvas-body div {
    color: #e6e6e6;
    font-size: 2rem; }
  .offcanvas-body::-webkit-scrollbar {
    width: 7px;
    height: 30px;
    background-color: rgba(34, 29, 40, 0.98); }
  .offcanvas-body::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 30px; }

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#7066e0, #7066e0);
  background-size: 75% 100%;
  background-repeat: no-repeat; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #7066e0;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out; }

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent; }

#rangeValue {
  all: unset;
  width: 60px;
  font-size: 2rem;
  color: #e6e6e6;
  caret-color: #7066e0;
  margin-bottom: 20px; }

.Guti {
  display: inline; }

.checkbox {
  display: flex;
  flex-direction: column;
  margin: 1rem 0; }
  .checkbox div {
    margin: .4rem 0; }
  .checkbox input {
    margin-right: .5rem; }

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
  height: 0;
  width: 0; }

.mark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: lightgray; }

.container:hover input ~ .mark {
  background-color: #ababab; }

.container input:checked ~ .mark {
  background-color: #7066e0; }

.mark:after {
  content: "";
  position: absolute;
  display: none; }

.container input:checked ~ .mark:after {
  display: block; }

.container .mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

.containerRadio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmarkRadio {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px; }

.containerRadio:hover input ~ .checkmarkRadio {
  background-color: #ccc; }

.containerRadio input:checked ~ .checkmarkRadio {
  background-color: #7066e0; }

.checkmarkRadio:after {
  content: "";
  position: absolute;
  display: none; }

.containerRadio input:checked ~ .checkmarkRadio:after {
  display: block; }

.containerRadio .checkmarkRadio:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: white; }

.toastAlert {
  background: #1c1c1c;
  font-size: 1.5em;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.12), 0px 10px 36px -4px rgba(112, 114, 125, 0.3); }

.toastify-avatar {
  width: 2.5em;
  height: 2.5em; }

.swal2-title {
  font-size: 2.4em; }

.swal2-html-container {
  font-size: 1.5em;
  font-weight: 500; }

.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
  font-size: 1.2em;
  margin: 0 .7rem; }

.swal2-confirm.swal2-styled.swal2-default-outline {
  background-color: #2ebd6e; }

.swal2-icon.swal2-warning {
  border-color: #ffa04d;
  color: #ffa04d; }
