.albumDiv{
    padding: 1rem;
    >div{
        background-color: $headerBG;
        border-radius: .5rem;
        padding: 3rem;
        *{
            color: $lightGrey;
        }
        img{
            align-self: center;
            border-radius: 3px;
            width: 100%;
        }
        h2{
            @include AlbumName;
            margin: 1.2rem 0;
        }
        button{
            all: unset;
            cursor: pointer;
            border-radius: 3px;
            background-color: $lightGrey;
            padding:1rem 1.5rem;
            color: $headerBG;
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 1.7rem;
            transition: all 300ms;
            &:hover{
                background-color: rgb(16, 15, 15);
                color: $lightGrey;
            }
        }
    }
}
.albumArtist{
    margin: 0;
}
.albumYear, .albumPrice, .albumCantidad, .albumArtist, .guti{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.2rem 0;
}
.guti{
    display: flex;
    align-items: center;
    span{
        opacity: .3;
        margin-left: 1rem;
    }
}
