#coins{
    border: none;
    color: $lightGrey;
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $headerBG;
    width: 75%;
    cursor: pointer;
    &:focus-visible{
        border: none;
        outline: none;
    }
}

#switchThemeContainer{
    padding: 1rem;
    *{
    cursor: pointer;
    }
    input{
        display: none;
        &:checked + label .circleTheme{
            background-color: $violet;
            transform: translateX(24px);
        }
    }
    label{
        background-color: #3e3e3e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        height:2.6rem;
        width: 5rem;
        position: relative;
        padding: .5rem;
        i{
            font-size: 1.6rem;
            padding: 0;
        }
    }
}
.circleTheme{
    aspect-ratio: 1;
    width: 2rem;
    border-radius: 50%;
    background-color: $lightGrey;
    position: absolute;
    top: 3px;
    left:3px;
    transition: 300ms;
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}