//Dark Color Palette
$bodyBG: #212121;
$headerBG: #1c1c1c;
$lightGrey: #e6e6e6;
$violet: #7066e0;
//Light Color Palette
$bodyBGLight: rgb(218, 205, 218);
$headerBGLight: rgb(189, 152, 152);
$lightGrey: rgb(230, 230, 230);
$violetLight: #bc4848;

//Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,html{
    font-size: 10px;
}

@font-face {
    font-family: guti;
    src: url(../60sFont.ttf);
}
@mixin AlbumName{
    @media (min-width:1400px){
        font-size: 1.2vw;
    }
    @media (max-width:1400px){
        font-size:1.2vw;
    }
    @media (max-width:1200px){
        font-size:1.5vw;

    }
    @media (max-width:991px){
        font-size:1.7vw;
    }
    @media (max-width:900px){
        font-size:1.6vw;
    }
    @media (max-width:768px){
        font-size:2.4vw;
    }
    @media (max-width:576px){
    font-size:35px;
    }
    @media (max-width:400px){
        font-size:30px;
        }
}